services:
  postgres:
    image: postgres:15-alpine
    container_name: fruit-accounting-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=product_accounting
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: